/*  (-CSS reset- Credit: Josh Comeau ) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ######## CSS RESET END ######## */

@font-face {
  font-family: "Recoleta";
  src: url("./fonts/Recoleta-RegularDEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-clr: #fdf6ec;
  --body-text-clr: #f8f8ff;
  --subtext-clr: #bebebe;
  --dark-clr: #292929;
  --highlight-clr: #daff01;
  --blue-clr: #020073;
}

body {
  font-family: "Poppins", sans-serif;
}

/* #### HERO SECTION #### */
.hero-section {
  background: url(images/bg.png),
    linear-gradient(180deg, #6241b4 0%, #000000 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  height: 100vh;
}

/* ### NAVIGATION BAR ### */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;

  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1.25rem;
  padding: 0.5rem 2rem;
  margin-top: 5%;
}

/* # NAVBAR AVATAR # */
.avatar {
  width: 3.75rem;
  height: 3.75rem;
  transition: rotate 0.4s;
}

.avatar:hover {
  rotate: -10deg;
}

/* # NAVIGATION LINKS # */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  padding-left: 0;
}

.nav-links a {
  position: relative;
  color: var(--header-clr);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.4s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 100%;
  height: 0.1875rem;
  background-color: var(--highlight-clr);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

/* ### HERO SECTION ### */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
}

.tagline {
  font-size: 1.25rem;
  color: var(--subtext-clr);
  font-family: "Recoleta", sans-serif;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typewriter 1.5s steps(20, end) forwards;
}

.tag-symbol {
  font-family: sans-serif;
  color: var(--body-text-clr);
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.headline {
  font-size: 80px;
  font-weight: 100;
  font-weight: bold;
  line-height: 1.2;
  color: var(--header-clr);
  width: 60%;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
  animation-delay: 1.5s;
}

.highlight {
  background-color: var(--highlight-clr);
  color: var(--dark-clr);
  border: 0.1875rem solid var(--dark-clr);
  padding: 0.2rem 0.5rem;
  border-radius: 0.625rem;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-btn {
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  background-color: var(--highlight-clr);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: var(--dark-clr);
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: drop-shadow(5px 5px 0px #000000);
  opacity: 0;
  animation: btnFadeIn 1.5s ease-in forwards 1.5s,
    breathe 3s ease-in-out infinite 3s;
}

@keyframes btnFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0.625rem rgba(76, 175, 80, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 1.25rem rgba(76, 175, 80, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0.625rem rgba(76, 175, 80, 0.3);
  }
}

/* ### Scroll Indicator ###*/
.scroll-indicator {
  position: fixed;
  bottom: 3.75rem;
  right: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--body-text-clr);
  font-size: 0.875rem;
  opacity: 0.7;
  animation: bounce 2s infinite;
  z-index: 10;
}

.scroll-indicator .arrow {
  font-size: 1.5rem;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.375rem);
  }
}

/* #### ABOUT ME SECTION #### */
.abt-section {
  background: url(images/bg.png),
    linear-gradient(180deg, #000000 0%, #6241b4 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  height: 100vh;
}

.top-row {
  display: flex;
  gap: 3.125rem;
  width: 70%;
}

.abt-info {
  display: flex;
  flex-direction: column;
}

.abt-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.abt-h {
  font-size: 50px;
  color: var(--body-text-clr);
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--highlight-clr);
  text-underline-offset: 0.625rem;
}

.resume-btn {
  padding: 0.75rem 2rem;
  background-color: var(--highlight-clr);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: var(--dark-clr);
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: drop-shadow(5px 5px 0px #000000);
  animation: breathe 3s ease-in-out infinite 3s;
}

@keyframes breathe {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0.625rem rgba(76, 175, 80, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 1.25rem rgba(76, 175, 80, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0.625rem rgba(76, 175, 80, 0.3);
  }
}

.abt-p {
  font-size: 1rem;
  color: var(--subtext-clr);
  line-height: 1.875rem;
}

.abt-profile {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
}

.my-picture {
  box-sizing: border-box;
  width: auto;
  height: auto;
  max-width: 25rem;
  max-height: 20.625rem;
  border-radius: 0.9375rem;
  border: 0.0625rem solid var(--body-text-clr);
  transition: 0.2s;
}

.my-picture:hover {
  transform: rotate(3deg);
  border: 0.1875rem solid var(--body-text-clr);
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.9375rem 0.3125rem #000000;
  box-shadow: 0.3125rem 0.3125rem 0.9375rem 0.3125rem #000000;
}

.social-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.25rem;
}

.social-icon {
  max-width: 2.8125rem;
  border-radius: 3.125rem;
  transition: 0.2s;
  cursor: pointer;
}
.social-icon:hover {
  transform: translateY(-0.3125rem);
  border: 0.1875rem solid var(--blue-clr);
  transform: scale(1.2);
}

.tech-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.tech-header {
  color: var(--subtext-clr);
  font-weight: 500;
  font-size: 1.125rem;
}

.tech-row {
  display: flex;
  gap: 1.25rem;
}

.tech-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-name {
  color: var(--body-text-clr);
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  height: 24px;
  text-align: center;
  margin-top: 8px;
}

.tech-box:hover + .tech-name {
  opacity: 1;
  visibility: visible;
}

.tech-box {
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 1.375rem;
  background-color: #202328;
  box-shadow: -0.125rem -0.125rem 0.1875rem 0rem rgba(139, 148, 158, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 0.125rem solid #202328;
}

.tech-img {
  width: 50%;
}

.tech-box:hover {
  border: 0.125rem solid white;
  transform: translateY(-0.625rem);
}

/* #### PROJECT SECTION #### */

.project-section {
  background: linear-gradient(180deg, #6241b4 100%, #000 0%);
  padding: 32px 24px;
}

.project-bg {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 48px;
}

.project-sec-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-sec-header {
  font-size: 40px;
  color: var(--body-text-clr);
  font-weight: 700;
  margin: 0;
}

.all-proj-btn {
  padding: 0.75rem 2rem;
  text-decoration: none;
  background-color: var(--highlight-clr);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: var(--dark-clr);
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: drop-shadow(5px 5px 0px #000000);
  animation: breathe 3s ease-in-out infinite 3s;
}

@keyframes breathe {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0.625rem rgba(76, 175, 80, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 1.25rem rgba(76, 175, 80, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0.625rem rgba(76, 175, 80, 0.3);
  }
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.proj-img-container {
  position: relative;
}

.project-image {
  width: 100%;
  max-width: 31.25rem;
  border-radius: 20px;
  border: 0.1875rem solid var(--blue-clr);
  object-fit: cover;
}

.proj-img-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  color: var(--body-text-clr);
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 20px;
  text-align: left;
  font-weight: bold;
  border-radius: 20px;
}

.proj-img-container:hover .proj-img-overlay {
  opacity: 1;
}

.project-info-col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  max-width: 31.25rem;
}

.project-name {
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  color: var(--body-text-clr);
  margin: 0;
}

.project-description {
  font-size: 16px;
  line-height: 1.6;
  color: var(--subtext-clr);
  margin: 0;
}

.tools-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tool {
  border: 0.125rem solid var(--body-text-clr);
  border-radius: 624.9375rem;
  padding: 4px 16px;
  color: var(--body-text-clr);
  font-size: 14px;
}

.visit-btn {
  padding: 0.75rem 2rem;
  text-decoration: none;
  background-color: var(--highlight-clr);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: var(--dark-clr);
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: drop-shadow(5px 5px 0px #000000);
  animation: breathe 3s ease-in-out infinite 3s;
}

@keyframes breathe {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0.625rem rgba(76, 175, 80, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 1.25rem rgba(76, 175, 80, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0.625rem rgba(76, 175, 80, 0.3);
  }
}

/* #### CONTACT SECTION #### */
.contact-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #6241b4 0%, #000000 20%);
  height: 100vh;
  padding: 100px;
}

.contact-info-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 50%;
}

.cif-h {
  font-size: 60px;
  width: 70%;
  line-height: 64px;
  color: var(--body-text-clr);
}

.contact-info-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-info-row img {
  width: 40px;
  background-color: var(--body-text-clr);
  padding: 8px;
  border-radius: 5px;
}

.contact-info-row p {
  font-size: 18px;
  color: var(--body-text-clr);
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 1.25rem;
  width: 40%;
  background-color: rgba(39, 88, 70, 0.1);
  border-radius: 20px;
}

.form-label {
  color: var(--body-text-clr);
  font-size: 1rem;
  font-weight: bold;
}

.form-input,
.form-textarea {
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  border: 0.125rem solid rgba(39, 88, 70, 0.1);
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--body-text-clr);
  resize: none;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--highlight-clr);
  background-color: rgba(255, 255, 255, 0.15);
}

.send-btn {
  padding: 0.75rem 2rem;
  background-color: var(--highlight-clr);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: var(--dark-clr);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(5px 5px 0px #000000);
}
